
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}
.header{
  background-color: #2a305c;
}

.logo{
  transition: transform 0.5s ease-in-out;
}

.logo:hover {
  transform: scale(1.08);
}

.contenedor_titulo{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.estiloTitulo {
  color: #333333;
  font-family:'Times New Roman', Times, serif;
  font-size: 3rem;
  margin: 2rem;
  letter-spacing: 0.2em;
}

.greeting {
  color: #333333;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size: 1.5rem;
  margin: 1rem;
  letter-spacing: 0.2em;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.greeting {
  animation: fadeIn 0.8s ease-in-out;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  letter-spacing: 0.2em;
  margin: 1rem;
}

.nav-link:hover {
  color: #696e8d;
}

.dropdown-menu{
  background-color: #2a305c;
}

.dropdown-item {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.2em;
  color: white;
}

.contenedor_imagen{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  border-bottom: solid #828084;
  
}

.carousel{
  margin: auto;
  margin-bottom: 50px;
}

.subtitulo_seccion {
  font-family: 'Times New Roman', Times, serif;
  text-align:center;
  font-size: 1.8rem;
  margin: 3rem;
  letter-spacing: 0.1em;
}

.contenedor_card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 18em;
  margin: 50px;
  font-family: 'Times New Roman', Times, serif;
  border: solid 2px #828084;
  border-radius: 7px;
  color: #333333;
  text-align: center;
}

.card-title{
  font-size: 1.1rem;
}

.btn_shop{
  background-color: #696e8d;
  color: white;
  width: 100px;
}

.btn_shop:hover{
background-color: #828084;
color: white;
}

.detail_container{
  display: flex;
  flex-wrap: wrap;
  justify-content:left;
  align-items:center;
  background-color:#AEADB0;
  width: 80%;
}

.card_detail{
  margin: 5rem;
}

.card_body_detail{
  display: flex;
  flex-direction: column;
  color:#333333;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  line-height: 1rem;

}

.card_title_container{
  margin: 50px;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
}


.counter{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.controls{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 5px;
}

.btn_cantidad{
  background-color: #696e8d;
  color: white;
}

.btn_cantidad:hover{
  background-color: #828084;
  color: white;
  }

.cantidad_producto{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: 5px;
  color: #333333;
}

.contenedor_cart{
  background-color: white;
  height: 4rem;
}

.contenedor_carrito{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.btnCart {
  margin: 15px;
  background-color: white;
}

.btnCart:hover {
  background-color: #AEADB0;
}

.seccion_profile{
  margin-top: 100px;
  background-color:#3f446c;
  height: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

.contendor_profile{
  display: grid;
  grid-template-columns: 50% 80%;
  grid-template-rows: auto auto;
  grid-template-areas: "texto1 foto" "texto2 foto";
}

.texto_profile{
  font-family: 'Times New Roman', Times, serif;
  grid-area: texto1;
  font-size: 1.1rem;
  color: white;
  letter-spacing: 0.1em;
  line-height: 1.7;
  text-align: justify;
  margin: 50px;
}

.profile_foto{
  width: 60%;
  grid-area: foto;
  justify-items: center;
  align-self: center;
  object-fit: cover;
  margin: 20px;
}

.contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 80px;
  margin-right: 80px;
}


.contact_info{
    width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text_contact{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  color: #333333;
  line-height: 1.7;
}

.logo_insta{
  width: 3rem;
  margin: 50px;
}

.logo_dire{
  width: 3rem;
}

.logos{
  margin-top: 50px;
  margin-left: 50px;
}

.contenedor_footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #3f446c;
  margin-top: 20px;
}

.flecha{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.logo_flecha{
  width: 5rem;
}

.texto_footer{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin: 20px;
}

@media (max-width: 905px) {

  .contact{
    justify-content: center;
    text-align: center;
  }

  .logos{
    margin:15px;
  }


}

@media only screen and (max-width: 1024px) {

  .contendor_profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .profile_foto {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 80%;
  }

  .detail_container{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card_body_detail{
    align-items: center;
  }

  .counter{
    margin: 20px;
    margin-bottom: 80px;
  }

}