
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}
.header{
  background-color: #2a305c;
}

.logo{
  transition: transform 0.5s ease-in-out;
}

.logo:hover {
  transform: scale(1.08);
}

.contenedor_titulo{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.tituloEstilo {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  margin: 2rem;
  letter-spacing: 0.2em;
}

.subtitulo {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  margin-bottom: 50px;
  letter-spacing: 0.1em;
}


.nav-link {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  letter-spacing: 0.2em;
  margin: 1rem;
}

.nav-link:hover {
  color: #696e8d;
}

.contenedor_imagen{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  border-bottom: solid #828084;
  
}

.carousel{
  margin: auto;
  margin-bottom: 50px;
}

.contenedor_card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 18em;
  margin: 50px;
  font-family: 'Times New Roman', Times, serif;
  border: solid 2.5px #828084;
  color: #000000;
  text-align: center;
}

.btn{
  background-color: #696e8d;
  color: white;
}

.btn:hover{
background-color: #828084;
color: white;
}

.contenedor_cart{
  background-color: whitesmoke;
  height: 3rem;
}

.contenedor_carrito{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.carrito {
  width: 1.5rem;
  margin: 15px;
}

#carrito {
  text-decoration: none;
}

.contar_productos {
  text-decoration: none;
  text-align: center;
  color: black;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.contenedor_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #2a305c;
  height: 10em;
  margin-top: 20px;

 
}

.texto_footer{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin: 20px;
}

